$text-placeholder: rgb(106, 119, 129);
$text-secondary: rgb(100, 110, 120);
$border-light: rgb(234, 237, 239);
$color-primary: rgb(240, 242, 245);

$background-main: rgb(193, 192, 198);
$background-secondary: rgb(211, 205, 251);
$background-test: rgb(33, 33, 33);
