$text-placeholder: rgb(105, 118, 128);
$text-secondary: rgb(100, 110, 120);
$border-light: rgb(234, 237, 239);
$background-main: rgb(193, 192, 198);
$background-secondary: rgb(211, 205, 251);
$background-test: rgb(33, 33, 33);
