@import './variables';

// ----------------------- RESET ---------------------- //

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica';
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  height: 100%;
}

// ----------------------- STYLING ---------------------- //

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $background-main;
  border-radius: 100vw;
}

.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid rgb(195, 196, 199);
  width: 90%;
  height: 90%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  flex: 1;
}

.chat {
  flex: 2;
}

.sidenav,
.chatnav {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 1em;
  justify-content: space-between;
}

.sidenav {
  border-right: 1px solid $border-light;
}

.user-img {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.sidenav .user-img,
.chatnav .user-img {
  height: 40px;
  width: 40px;
}

.buttons-container {
  display: flex;
}

.buttons {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.buttons.red {
  background-color: rgb(237, 106, 94);
  border: 1px solid rgb(224, 97, 85);
}

.buttons.green {
  background-color: rgb(98, 198, 84);
  border: 1px solid rgb(89, 184, 73);
}

.receiver {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input,
.input-message {
  border: none;
  border-radius: 7px;
  height: 70%;
  outline: none;
  padding: 0 1rem;

  &::placeholder {
    color: $text-placeholder;
  }
}

.search,
.convos {
  border-right: 1px solid $border-light;
}

.search {
  background-color: rgb(255, 255, 255);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.6rem;
  border-bottom: 1px solid $border-light;
}

.search-input {
  background-color: $color-primary;
  width: 85%;
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.convos {
  height: 100%;
  overflow-y: scroll;
}

.convo-item {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;

  &:nth-of-type(1) {
    .convo-details {
      border: none;
    }
  }

  &:hover {
    background-color: rgb(245, 246, 246);
  }

  .user-img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
  }
}

.convo-details {
  width: 80%;
  height: 100%;
  border-top: 1px solid $border-light;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  p {
    font-size: 1.4rem;
    color: $text-secondary;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
  }
}

.convos-end {
  border-top: 1px solid $border-light;
  margin-bottom: 11rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.messages {
  background-color: rgb(238, 234, 227);
  height: calc(100% - 110px);
  overflow: auto;
  // height: calc(100% - 95px);
  // margin-bottom: -15px;
}

.chat-input {
  height: 55px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.input-actions {
  display: flex;
  gap: 1.5rem;
  margin-right: 1.5rem;
}

.input-attach input {
  display: none;
}

.input-message {
  flex-grow: 1;
}

.input-send {
  margin-left: 1.5rem;
}
